<header>
    <nav class="navbar nav navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid nv">
            <a href="/" class="navbar-brand navTitle"><%= title %> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><span></button>
        </div>
        <div class="collapse nav1 navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Convertidor(cm,pul,m,km,milla)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home2">Calcular(m2,ha)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home3">Calcular(media,moda,desviacion)</a>
                </li>
            </ul>
        </div>
    </nav>
</header>